/node_modules/*
/dist/*
/public/*
.env
# models/*
# !models/User.js
# original.js
# routes/*
# !routes/userRoutes.js
# middleware/upload
email-service/*
!email-service/
# !email-service/server.js
frontend/*